<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213726099732-2kug6lgsq8gq4rt7dof0kb6lilc4r9h0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213726099732-2kug6lgsq8gq4rt7dof0kb6lilc4r9h0</string>
	<key>API_KEY</key>
	<string>AIzaSyBbyJyEQxk3ns-4vpQesabRcOprYhyNNTc</string>
	<key>GCM_SENDER_ID</key>
	<string>213726099732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.osmsmix.matchi-app</string>
	<key>PROJECT_ID</key>
	<string>matchi-app-1502e</string>
	<key>STORAGE_BUCKET</key>
	<string>matchi-app-1502e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213726099732:ios:504dd4b001fbad3ea72a01</string>
</dict>
</plist>